 

.heading{
    color: red;
}

button{
    background-color: green;
}

p{
    text-align: center;
}

a{
    color: black;
    text-decoration: yellow dotted underline;
    font-weight: normal;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
body{
    background-image: url(Service.jpeg);
     
}
